<p>
  <b><%= t ".title" %>:</b>
  <%=h @book.title %>
</p>

<p>
  <b><%= t ".price" %>:</b>
  <%=  number_to_currency @book.price %><br />
</p>

<p>
  <b><%= t "common.published_at" %>:</b>
  <%=l @book.published_at, :format => :long %>
</p>

<p>
  <b><%= t "common.created_at" %>:</b>
  <%=l @book.created_at, :format => :long %>
</p>


<%= link_to t('common.edit'), edit_book_path(@book) %> |
<%= link_to t('common.back'), books_path %>